name: build-single-html

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Enable pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm install
        env:
          ROLLUP_DISABLE_NATIVE: "1"

      - name: Build
        run: pnpm run build
        env:
          ROLLUP_DISABLE_NATIVE: "1"

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
